# Data Exploration
### This notebook covers the results of the pipeline. You need to run the pipeline first before running code blocks in this notebook

This notebook demonstrates how to query and explore the curated datasets generated by the data pipeline.  
Using **DuckDB** to efficiently query **Parquet** files without loading them entirely into memory.

In [1]:
import duckdb
import os

In [2]:
# Define the curated data path
curated_dir = os.path.join("..", "data", "curated")

# Initialize DuckDB in-memory database
con = duckdb.connect(database=':memory:')

## Query 1: Total sales by category
This query calculates the total sales for each product category.  
The results help identify which categories contribute the most to overall sales.

In [12]:
# SQL query to calculate total sales by product category
query_category_sales = f"""
SELECT * FROM read_parquet('{curated_dir}/category_sales.parquet')
ORDER BY total_sales DESC;
"""
# Execute the query and fetch results into a DataFrame
category_sales_df = con.execute(query_category_sales).fetchdf()

# Styled display for Total Sales by Category
category_sales_df.style \
    .background_gradient(cmap='Blues') \
    .format({'total_sales': '£{:,.2f}'}) \
    .set_caption("Total Sales by Category") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{
        'selector': 'caption',
        'props': [('font-size', '16px'), ('font-weight', 'bold')]
    }])


# Display the results
# print("Total Sales by Category:")
# print(category_sales_df)

## Query 2: Monthly sales trends
This query shows how total sales have changed over the last two months.  
Analyzing trends helps in forecasting future sales and identifying seasonal patterns.

In [14]:
# SQL query to analyze monthly sales trends
query_monthly_trends = f"""
SELECT * FROM read_parquet('{curated_dir}/monthly_sales_trend.parquet')
ORDER BY transaction_month;
"""

# Execute the query and fetch results
monthly_trends_df = con.execute(query_monthly_trends).fetchdf()

# Styled display for Monthly Sales Trends
monthly_trends_df.style \
    .bar(subset='total_sales', color='#FFA07A') \
    .format({'total_sales': '£{:,.2f}'}) \
    .set_caption("Monthly Sales Trends") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{
        'selector': 'caption',
        'props': [('font-size', '16px'), ('font-weight', 'bold')]
    }])


# Display the results
# print("\nMonthly Sales Trends:")
# print(monthly_trends_df)

## Query 3: Top 5 selling products
This query identifies the top 5 products based on total sales.  
This insight helps in understanding customer preferences and managing inventory.

In [16]:
# SQL query to get top 5 selling products
query_top_products = f"""
SELECT * FROM read_parquet('{curated_dir}/top_selling_products.parquet')
ORDER BY total_sales DESC;
"""

# Execute the query and fetch results
top_products_df = con.execute(query_top_products).fetchdf()

# Styled display for Top 5 Selling Products
top_products_df.style \
    .highlight_max(subset='total_sales', color='lightgreen') \
    .format({'total_sales': '£{:,.2f}'}) \
    .set_caption("Top 5 Selling Products") \
    .set_properties(**{'text-align': 'center'}) \
    .set_table_styles([{
        'selector': 'caption',
        'props': [('font-size', '16px'), ('font-weight', 'bold')]
    }])

# Display the results
# print("\nTop 5 Selling Products:")
# print(top_products_df)